<div class="client-logo-slider swiper d-flex">
  <div class="swiper-wrapper align-items-center">
    {{ range site.Params.logo_slider }}
    {{ if and ( ne .URL "" ) ( ne .URL "#" ) }}
    <a href="{{ .URL | safeURL }}" class="swiper-slide text-center d-block outline-0">
      {{ partial "image.html" (dict "Src" .logo "Alt" "client-logo" "Size" "x30" "Class" `d-unset`) }}
    </a>
    {{ else }}
    <span class="swiper-slide text-center d-block outline-0">
      {{ partial "image.html" (dict "Src" .logo "Alt" "client-logo" "Size" "x30" "Class" `d-unset`) }}
    </span>
    {{ end }}
    {{ end }}
  </div>
</div>