// Color Variables
{{ with site.Params.variables }}
$color-primary: {{.color_primary | default "#777"}};
$color-secondary: {{.color_secondary | default "#0AA8A7"}};
$text-color: {{.text_color | default "#777"}};
$text-dark: {{.text_dark | default "#222"}};
$text-light: {{.text_light | default "#999"}};
$body-bg: {{.body_color | default "#fff"}};
$border-color: {{.border_color | default "#ECECEC"}};
$dark-body-bg: {{.dark_body_color | default "#1e262c"}};
$dark-text-color: {{.dark_text_color | default "#cbcbcb"}};
$dark-text-dark: {{.dark_text_dark | default "#999"}};
$dark-text-light: {{.dark_text_light | default "#ddd"}};
$dark-border-color: {{.dark_border_color | default "#ECECEC"}};
$black: {{.black | default "#000"}};
$white: {{.white | default "#fff"}};
$dark: {{.dark | default "#222"}};
$light: {{.light | default "#EDF6F5"}};


// Font Variables
$font-size: {{.font_size | default "16px"}};
$font-scale: {{.font_scale | default "1.25"}};
$font-primary: '{{replace (replaceRE ":[ital,]*[ital@]*[wght@]*[0-9,;]+" "" .font_primary | default "Lato") "+" " "}}', {{.font_primary_type | default "sans-serif"}};
$font-secondary: '{{replace (replaceRE ":[ital,]*[ital@]*[wght@]*[0-9,;]+" "" .font_secondary | default "Lato") "+" " "}}', {{.font_secondary_type | default "sans-serif"}};
$font-icon: '{{.font_icon | default "Font Awesome 5 Free"}}';
{{ end }}

@import 'templates/bootstrap';

@import 'preloader';

@import 'mixins';

@import 'typography';

@import 'buttons';

@import 'common';

@import 'common-dark';

@import 'templates/navigation';

@import 'templates/main';

@import 'notice';

@import 'tabs';

@import 'image';

@import 'gallery';

@import 'social-share';

@import 'toc';

@import 'custom';
