{{ define "main" }}

{{ partial "components/page-title.html" . }}

{{ if site.Params.google_map.enable }}
{{ with site.Params.google_map }}
<section class="section pb-0">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <h2 class="section-title">Find me on Google Map</h2>
      </div>
      <div class="col-12">
        <iframe style="height:400px;width:100%;" frameborder="0" src="{{.embed_url}}"></iframe>
      </div>
    </div>
  </div>
</section>
{{ end }}
{{ end }}

<section class="section">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <h2 class="section-title">Follow me on Social</h2>
      </div>
      <div class="col-12">
        <ul class="list-inline social-icons text-center">
          {{ range site.Params.social }}
          <li class="list-inline-item">
            <a href="{{.URL}}"><i class="{{.icon}}"></i></a>
            <span class="visually-hidden">{{.title}}</span>
          </li>
          {{ end }}
        </ul>
      </div>
    </div>
  </div>
</section>

{{ end }}