<div class="col-lg-4 col-sm-6 mb-4">
  <article class="card shadow overflow-hidden">
    <a href="{{.Permalink}}" title="{{.Title }}">
      {{ partial "image.html" (dict "Src" .Params.Image "Alt" .Title) }} 
    <div class="card-body p-4">
      <h3 class="h4 card-title"><a class="text-dark" href="{{.Permalink}}">{{.Title }}</a>
      </h3>
      <p class="cars-text">{{.Summary}}</p>
      <a href="{{.Permalink}}" class="btn btn-sm btn-primary">Read More <span class="visually-hidden">Details</span></a>
    </div>
  </article>
</div>