{{ define "main" }}

  {{ partial "page-title.html" . }}

  <section class="section">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-9 text-center mb-4">
          <img src="{{.Params.image | absURL }}" alt="{{.Title}}" class="img-fluid rounded mb-4">
          <p class="font-secondary">Published on {{ .PublishDate.Format "Jan 02, 2006" }} by <span class="text-primary">{{site.Params.Author}}</span></p>
        </div>
        <div class="col-lg-9">
          <div class="content">
            {{.Content }}
          </div>
        </div>
      </div>
    </div>
  </section>

{{ end }}