{{ define "main" }}

  {{ partial "page-title.html" . }}

  <section class="section">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <h3 class="font-tertiary mb-5">{{.Title}}</h3>
          <div class="content">
            <a href="{{.Params.Image_link | safeURL }}">
              <img src="{{.Params.Image | absURL }}" alt="post-thumb" class="img-fluid rounded float-left mr-5 mb-4">
            </a>
            {{.Content }}
          </div>
        </div>
      </div>
    </div>
  </section>

{{ end }}