{{ define "main" }}

{{ partial "page-title.html" . }}

{{ if site.Params.map.enable }}
<section class="section pb-0">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <h2 class="section-title">Find me on Google Map</h2>
      </div>
      <div class="col-12">
        {{ with site.Params.map }}
        {{"<!-- Google Map -->" | safeHTML}}
        <div class="shadow" id="map" data-latitude="{{ .map_latitude }}" data-longitude="{{ .map_longitude }}"
          data-marker="{{ .map_marker | absURL }}" data-marker-name="{{ site.Title }}" style="height: 400px;"></div>
        {{ end }}
      </div>
    </div>
  </div>
</section>
{{ end }}

<section class="section">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <h2 class="section-title">Follow me on Social</h2>
      </div>
      <div class="col-12">
        <ul class="list-inline social-icons text-center">
          {{ range site.Params.social }}
          <li class="list-inline-item"><a href="{{.URL}}"><i class="{{.icon}}"></i></a></li>
          {{ end }}
        </ul>
      </div>
    </div>
  </div>
</section>

{{ end }}